<!DOCTYPE html>
<html>
<head>
<%- include('../partial/head'); -%>
</head>
<body id="login">
  <h1><%= sitename %></h1>
  <a href='/auth/google' class="btn btn-lg btn-primary">
    Googleアカウントでログイン
  </a>
</body>
</html>
